<p>right-block works!</p>
<!-- Главная шапка -->
<about-header></about-header>
<!-- Обо мне -->
<about></about>
<!-- Услуги -->
<about-services></about-services>
<!-- Прайс -->
<about-price></about-price>
<!-- Опыт -->
<about-experience></about-experience>
<!-- Образование -->
<about-education></about-education>
<!-- Навыки Дизайна -->
<about-design-skills></about-design-skills>
<!-- Знание языков -->
<about-languages></about-languages>
<!-- Навыки кодирования -->
<about-coding-skills></about-coding-skills>
<!-- Отзывы -->
<about-reviews></about-reviews>
<!-- Клиенты -->
<about-clients></about-clients>
<!-- Портфолио -->
<about-portfolio></about-portfolio>
<!-- Контакты -->
<about-contacts></about-contacts>
