<p>right-block works!</p>
<!-- Главная шапка -->
<about-header></about-header>
<!-- Блок: Обо мне -->
<about></about>
<!-- Блок: Услуги -->
<about-services></about-services>
<!-- Блок: Прайс -->
<about-price></about-price>
<!-- Блок: Опыт -->
<about-experience></about-experience>
<!-- Блок: Образование -->
<about-education></about-education>
<!-- Блок: Навыки Дизайна -->
<about-design-skills></about-design-skills>
<!-- Блок: Знание языков -->
<about-languages></about-languages>
<!-- Блок: Навыки кодирования -->
<about-coding-skills></about-coding-skills>
<!-- Блок: Отзывы -->
<about-reviews></about-reviews>
<!-- Блок: Клиенты -->
<about-clients></about-clients>
<!-- Блок: Портфолио -->
<about-portfolio></about-portfolio>
<!-- Блок: Контакты -->
<about-contacts></about-contacts>
